*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/*Boot CSS*/

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
}

.w50{
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/*Estilização do Site*/

header{
    background: #3d437a;
    padding: 20px 0;
}

header .logo{
    font-size: 25px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

.mobile{
    display: none;
}

nav.desktop ul{
    list-style-type: none;
    position: relative;
    top: 6px;
}

nav.desktop li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 30px;
    font-weight: 300;
}
 
nav.desktop a{
    color: white;
    text-decoration: none;
}


